<div class="container authentication">
  <section class="medium-5 medium-push-1">
    <h3>Лични данни</h3>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), builder: FancyFormBuilder, html: {method: :put}) do |f| %>

      <div class="avatar-container">
        <div class="tweet_avatar gravatar">
          <%= image_tag "//www.gravatar.com/avatar/#{resource.email_md5}?s=100&d=retro" %>
          <span class="overlay">Avatar by <%= link_to 'Gravatar', 'https://gravatar.com' %></span>
        </div>
      </div>

      <div class="form__group">
        <div class="input--icon">
          <i class="ss-icon ss-user"></i>
          <%= f.text_field :name, autofocus: true %>
        </div>
        <div class="input--icon">
          <i class="ss-icon ss-mail"></i>
          <%= f.email_field :email %>
        </div>
        <div class="input--icon">
          <i class="ss-icon ss-earth"></i>
          <%= f.text_field :url %>
        </div>
        <div class="input--icon">
          <i class="ss-icon ss-bird"></i>
          <%= f.text_field :twitter %>
        </div>
        <%= f.check_box :privacy, label: "Скрий туитър хендъла ми от @initlabkeeper" %>
      </div>

      <div class="form__group">
        <%= f.label :password %><em>(въведете тези полета само ако искате да промените паролата си)</em>
        <div class="input--icon">
          <i class="ss-icon ss-key"></i>
          <%= f.password_field :password %>
        </div>
        <div class="input--icon">
          <i class="ss-icon ss-key"></i>
          <%= f.password_field :password_confirmation %>
        </div>
      </div>

      <div>
        <%= f.label :current_password %> <em>(нужно е да въведете текущата парола, за да потвърдите промените на парола и Email)</em><br />
        <div class="input--icon">
          <i class="ss-icon ss-key"></i>
          <%= f.password_field :current_password %>
        </div>
      </div>

      <div><%= f.submit "Обнови", class: 'button' %></div>
    <% end %>
  </section>

  <section class="medium-5 medium-push-1">
    <h3>Мрежови устройства</h3>

    <div id="computers" class="device">
      <%= render partial: '/devices/computers/computer', collection: @user.computers %>
    </div>

    <div class="new_device_link">
      <%= link_to "Добави нов MAC адрес", new_user_computer_path, remote: true, id: 'new_computer_link', class: 'button' %>
    </div>

    <h3>Телефони</h3>
    <div id="phones" class="device">
      <%= render partial: '/devices/phones/phone', collection: @user.phones %>
    </div>

    <div class="new_device_link">
      <%= link_to "Добави нов телефон", new_user_phone_path, remote: true, id: 'new_phone_link', class: 'button' %>
    </div>

    <h3>Не сте щастливи?</h3>
    <%= link_to "Изтрий регистрацията ми", registration_path(resource_name), data: {confirm: "Сигурни ли сте?"}, method: :delete, class: 'button' %>
  </section>
</div>
