<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: 'devise-form'}) do |f| %>
  <h2>Регистрация</h2>
  <%= devise_error_messages! %>
  <div class="form-group">
    <%= f.email_field :email, class: 'form-control', placeholder: "Имейл адрес", :autofocus => true %>
    <%= f.password_field :password, class: 'form-control', placeholder: "Парола" %>
    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Отново паролата" %>
  </div>
  <%= f.submit "Регистрация", class: 'button' %>
  <%= render "devise/shared/links" %>
<% end %>
