<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), builder: FancyFormBuilder, html: {class: 'devise-form'}) do |f| %>
  <h2>Регистрация</h2>
  <div class="form-group">
    <%= f.email_field :email, :autofocus => true %>
    <%= f.password_field :password %>
    <%= f.password_field :password_confirmation %>
  </div>
  <%= f.submit "Регистрация", class: 'button' %>
  <%= render "devise/shared/links" %>
<% end %>
