<% unless (user_counter + 1) % 4 == 0 %>
  <div class="one-fourth team  zp_start_animation">
<% else %>
  <div class="one-fourth team last-column zp_start_animation">
<% end %>
  <div class="box-wrapper">
    <div class="team_image_block">
      <%= image_tag "//www.gravatar.com/avatar/#{user.email_md5}?s=300&d=retro", alt: user.name %>
    </div>
    <h4>
      <% if user.url.present?  %>
        <%= link_to user.url do %>
          <%= user.name %>
        <% end %>
      <% else %>
        <%= user.name %>
      <% end %>
    </h4>
    <% if user.twitter.present?  %>
      <h5>
        <%= link_to "@#{user.twitter}", "https://twitter.com/#{user.twitter}" %>
      </h5>
    <% end %>
  </div>
</div>
