<div class="one-fourth team <%= if (user_counter + 1) % 4 == 0 then 'last-column' end %> zp_start_animation">
  <div class="box-wrapper">
    <div class="team_image_block">
      <%= image_tag "//www.gravatar.com/avatar/#{user.email_md5}?s=300&d=retro", alt: user.name %>
    </div>
    <h4>
      <% if user.url.present?  %>
        <%= link_to user.url do %>
          <%= user.name %>
        <% end %>
      <% else %>
        <%= user.name %>
      <% end %>
    </h4>
    <p>
      <span class="team_socials">
        <% if user.twitter.present?  %>
          <%= link_to "L", "https://twitter.com/#{user.twitter}", class: %w(t_twitter hastip) %>
        <% end %>
        <%= link_to "F", "#", class: %w(t_facebook hastip) %>
      </span>
    </p>
  </div>
</div>
