<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'devise-form', method: :put }) do |f| %>
  <h2>Промяна на парола</h2>

  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-group">
    <%= f.password_field :password, autofocus: true, class: 'form-control', placeholder: 'Нова парола' %>
    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Пак новата парола' %>
  </div>

  <div><%= f.submit "Промени паролата", class: 'button' %></div>
  <%= render "devise/shared/links" %>
<% end %>
