<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "init Lab Fauna" %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

    <!-- For iOS 2.0+ and Android 2.1+: -->
    <link rel="apple-touch-icon-precomposed" href="<%= asset_path "favicon-152.png" %>">

    <!-- For IE 10 Metro: -->
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="<%= asset_path "favicon-144.png" %>">

    <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="<%= asset_path "favicon-152.png" %>">

    <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= asset_path "favicon-144.png" %>">

    <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="<%= asset_path "favicon-120.png" %>">

    <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= asset_path "favicon-114.png" %>">

    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= asset_path "favicon-72.png" %>">

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="<%= asset_path "favicon-57.png" %>">
    <link rel="icon" href="<%= asset_path "favicon-32.png" %>" sizes="32x32">

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="site-container">
      <div class="site-wrapper">

        <header class="site-header" role="banner">
          <div class="wrap">
            <div id="custom_sidebar_tigger" class="nav-btn"></div>
            <div class="title-area">
              <h1 class="site-title">init Lab Fauna</h1>
              <h2 class="site-description">Управление на акаунти</h2>
            </div>

            <nav id="top" class="nav-primary" role="navigation">
              <ul class="menu genesis-nav-menu menu-primary">
                <li class="menu-item menu-item-object-page">
                  <%= link_to 'Към сайта на init Lab', '//initlab.org' %>
                </li>
                <li class="menu-item menu-item-object-page">
                  <%= link_to "Кой е в Лаб'а?", '/' %>
                </li>
                <% unless user_signed_in? %>
                  <li class="menu-item menu-item-object-page">
                    <%= link_to "Вход", new_user_session_path %></li>
                  <li class="menu-item menu-item-object-page">
                    <%= link_to "Регистрация", new_user_registration_path %>
                  </li>
                <% else %>
                  <li class="menu-item menu-item-object-page">
                    <%= link_to "Редакция на профил", edit_user_registration_path %>
                  </li>
                  <li class="menu-item menu-item-object-page">
                    <%= link_to "Изход", destroy_user_session_path, method: :delete %>
                  </li>
                <% end %>
              </ul>
            </nav>
          </div>
        </header>

        <div class="site-inner">
          <div class="wrap">
            <%= yield %>
          </div>
        </div>

        <footer class="site-footer">
          <div class="wrap">
            <hr>
            <div class="creds">
	      <p>Licensed under <%= link_to 'Creative Commons Attribution-ShareAlike 3.0 Unported License', 'http://creativecommons.org/licenses/by-sa/3.0/' %></p>
	      <p>Source code available on <%= link_to 'Github', 'https://github.com/initLab/fauna' %></p>
            </div>
          </div>
        </footer>
      </div> <!-- /site-wrapper -->
      <a id="top-link" href="#top" style="display: block;">
        ↑ Top of Page
      </a>
    </div> <!-- /site-container -->
  </body>
</html>
