<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "init Lab Fauna" %></title>
    <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=PT+Sans&subset=latin,latin-ext,cyrillic".html_safe, media: 'all', "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

    <!-- For iOS 2.0+ and Android 2.1+: -->
    <link rel="apple-touch-icon-precomposed" href="<%= asset_path "favicon-152.png" %>">

    <!-- For IE 10 Metro: -->
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="<%= asset_path "favicon-144.png" %>">

    <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="<%= asset_path "favicon-152.png" %>">

    <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= asset_path "favicon-144.png" %>">

    <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="<%= asset_path "favicon-120.png" %>">

    <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= asset_path "favicon-114.png" %>">

    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= asset_path "favicon-72.png" %>">

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="<%= asset_path "favicon-57.png" %>">
    <link rel="icon" href="<%= asset_path "favicon-32.png" %>" sizes="32x32">

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <%= csrf_meta_tags %>
  </head>
  <body class="home blog">
    <div id="container">
      <header id="top">
        <hgroup>
	  <h1><a href="/">init Lab</a></h1>
	  <h2>&nbsp;/ Fauna</h2>
        </hgroup>
        <div class="menu-main-container">
          <ul id="menu-main" class="menu">
            <li><a href="//initlab.org">Към сайта на init Lab</a></li>
            <% unless user_signed_in? %>
              <li><%= link_to "Вход", new_user_session_path %></li>
              <li><%= link_to "Регистрация", new_user_registration_path %></li>
            <% else %>
              <li><%= link_to "Редакция на профил", edit_user_registration_path %></li>
              <li><%= link_to "Изход", destroy_user_session_path, method: :delete %></li>
            <% end %>
          </ul>
        </div>
      </header>
      <div id="main">
        <div class="notifications">
          <% if flash[:notice] %>
            <p class="notice"><%= notice %></p>
          <% end %>

          <% if flash[:alert]  %>
            <p class="alert"><%= alert %></p>
          <% end  %>
        </div>

<%= yield %>

      </div><!-- main -->

      <div id="copyright">
	<p>Proudly running on <a href="http://rubyonrails.org">Ruby on Rails</a></p>
	<p>Licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a></p>
      </div>
    </div> <!-- /container -->
  </body>
</html>
