<!DOCTYPE html>
<html>
  <head>
    <title>InitLabAuth</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=PT+Sans&subset=latin,latin-ext,cyrillic".html_safe, media: 'all', "data-turbolinks-tag" => true %>
    <%= stylesheet_link_tag "app", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="home blog">
    <div id="container">
      <header id="top">
        <hgroup>
	  <h1><a href="/">init Lab</a></h1>
	  <h2>&nbsp;/ Identity System</h2>
        </hgroup>
        <div class="menu-main-container">
          <ul id="menu-main" class="menu">
            <li><a href="//initlab.org">Към сайта на initLab</a></li>
            <% unless user_signed_in? %>
              <li><%= link_to "Вход", new_user_session_path %></li>
              <li><%= link_to "Регистрация", new_user_registration_path %></li>
            <% else %>
              <li><%= link_to "Редакция на профил", edit_user_registration_path %></li>
              <li><%= link_to "Изход", destroy_user_session_path, method: :delete %></li>
            <% end %>
          </ul>
        </div>
      </header>
      <div id="main">
        <div class="row">

        <% unless flash.empty? %>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        <% end  %>

<%= yield %>

        </div>
      </div><!-- main -->

      <div id="copyright">
	<p>Proudly running on <a href="http://rubyonrails.org">Ruby on Rails</a></p>
	<p>Licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a></p>
      </div>
    </div> <!-- /container -->
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </body>
</html>
